/* 遊戲資訊 CSS */
/* .game-info {
    position: absolute;
    margin-bottom: auto;
    margin-left: 20px;
    width: 320px;
    top: 0;
    left: 100%;
}

.game-info ol, .game-info ul {
  padding-left: 30px;
  list-style: none;
  margin-top: -10px;
  margin-bottom: -10px;
}

.game-info p {
  font-size: 50px;
  margin: 12px;
} */

/* .game-info button {
  font-size: 100%;
}
 */

/* 遊戲玩家人物 CSS */ 
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  border: 0px solid black;
  border-radius: 5%;
  padding: 10px;
  background: conic-gradient(#ff0, #f50, #0c0, #09d, #03a, #909, #f00, #ff0);
}

.player img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.player p {
  margin: 0;
}

.player span {
  color: white;
}

    