<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./CompressCss/compress.css">
</head>
<body>
  <div id="app">
    <section v-show="isHomepageShow">
      <div id="homepage" class="homepage">
        <h1 v-text="titleGame"></h1>
        <button @click="startRoleChoice()" class="btn-big"> 開始遊戲 </button>
        <p> 網頁設計: {{ gcDesigner }} </p>
        <p> 程式設計: {{ programmer }} </p>
        <div class="logos">
          <img :src="logos[0].image" :alt="logos[0].name" class="logo-left" />
          <img :src="logos[1].image" :alt="logos[1].name" class="logo-right" />
        </div>
        <h2> Vue.js 3 </h2>
        <h3> 備註: 請按 Ctrl + F5 更新遊戲版本</h3>
      </div>
    </section>
    <section v-show="isRoleChoiceShow">
      <div class="role-choice">
        <h1> 人物選擇 </h1>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div v-for="(role, index) in roles" :key="role" class="swiper-slide swiper-role">
              <div>
                <img :src="role.image">
                <p>
                  <span> {{ role.name }} - 
                    <span v-if="role.gender == 'male'"> 男 </span>
                    <span v-else>女</span>
                  </span>
                </p>
                <p><span> 戰鬥力: {{ role.power }} </span></p>
                <div v-if="role.selected" class="swiper-btn role-not-checked role-checked" @click="selectRole(index)">
                  <i class="fa-solid fa-check"></i>
                </div>
                <div v-else class="swiper-btn role-not-checked" required @click="selectRole(index)"></div>
                <div v-if="role.selected" class="swiper-btn" required @click="setRoleDataIndex(index)"> 變更資訊 </div>
              </div>            
            </div>          
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <button @click="startGame()" class="role-choice-finish"> 選擇完畢 </button>
        </div> 
        <div v-show="isSwiperModalShow" class="role-data-modal">
          <div>
            <p>暱稱: <input type="text" v-model="roles[modalIndex].name" minLength="1"
                maxLength="8" class="swiper-modal-name"> 至多 8 字 </p>
            <p>
              <span>性別: </span>
              <span>
                <label>
                  <input type="radio" v-model="roles[modalIndex].gender" value="male"
                    :checked="roles[modalIndex].gender === 'male'"> &nbsp;男&nbsp;&nbsp;&nbsp; </label>
                <label>
                  <input type="radio" v-model="roles[modalIndex].gender" value="female"
                    :checked="roles[modalIndex].gender === 'female'"> &nbsp;女&nbsp;&nbsp;&nbsp; </label>
              </span>
            </p>
          </div>
          <p><button @click="setModalHide(roles[modalIndex].name)"> 離開 </button></p>
        </div>

      </div>
    </section>
    <section v-show="isPlayGameShow">
      <div id="gamepage" class="play-game">
        <header class="header">
          <div v-for="role in gameRole" class="player" :key="role">
            <img :src="role.image" :alt="role.name">
            <p>
              <span v-if="role.gender === 'male'">男</span>
              <span v-else>女</span>
              <span> - 代號: X</span>
            </p>
            <p><span> {{ role.name }} </span></p>
            <p><span> 戰鬥力 - {{ role.power }} </span></p>
          </div>
        </header>
        <div class="titleGame" v-text="titleGame"></div>
        <div class="status" v-text="status"></div>
        <div class="game">
          <div class="board">
            <div v-for="row in 3" class="board-row">
              <button v-for="column in 3"
                class="square"
                :class="{ 'color-check-O': isCheckO(row,column) ,  'is-cant-go': isCantGo(row,column) }"
                @click="handleClick(row,column)"> {{ current[getIndex(row,column)] }} </button>
            </div>
          </div>
          <div class="game-info">
            <p>遊戲資訊</p>
            <ol>
              <li v-for="(move, index) in history" :key={move}>
                <button v-if="index === 0" @Click="jumpTo(0)"> 回到遊戲開始 </button>
                <button v-else @Click="jumpTo(index)"> {{ `回到 第 ${index} 步` }} </button>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="./CompressJs/compressGame.js"></script>
</body>
</html>